/* デフォルトデザインのリセット */
#content{display:none;}
input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
input[type="button"]{
  box-sizing: border-box;
  cursor: pointer;
}
input[type="search"]{
  background-color: #ffffff;
}
input::-webkit-search-cancel-button {
    display: none;
}
input::-webkit-calendar-picker-indicator {
    display: none !important;
}
datalist::-webkit-calendar-picker-indicator {
    display: none !important;
}
input::-webkit-list-button{
    content: none !important;
    z-index: -1 !important;
}
html{
    touch-action: manipulation;
}

/* ベースデザイン */
body{
    font-size: 18px !important;
    color: #2a2a2a;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FAF7F0;
    margin: 10px;
    overflow-x: hidden;
}
#MDMC_head{
    margin: -10px -20px 10px -20px;
    padding: 20px 5px 0 30px;
    background-color: #2a2a2a;
}
h1 {
    margin: 0;
    color: #ffffff;
    font-size: 35px;
    white-space: nowrap;
}
html{
    min-height: 100%;
}


/* インタフェースデザイン */
.MDMC_main{
    display: flex;
    flex-flow: row;
    width: 100%;
    max-width: 2000px;
    margin-bottom: 150px;
}
.MDMC_column{
    margin: 0;
    padding: 0;
}
.MDMC_column_l{
    width: 32%;
}
.MDMC_column_r{
    display: flex;
    flex-flow: column;
    width: 68%;
    margin: 0;
    padding: 0;
}
.MDMC_box{
    margin: 7px;
    padding: 14px;
    background-color: #ffffff;
    border: solid 1px #f0ebda;
    border-radius: 4px;
}
.MDMC_boxR{
    display: flex;
    padding: 0;
    flex-flow: row;
}
.MDMC_boxR_L{
    display: flex;
    width: 15%;
    background-color: #202020;
    color: #ffffff;
    font-size: 150%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}
.MDMC_boxR_R{
    display: flex;
    position: relative;
    flex-flow: column;
    width: 85%;
    padding: 8px 5px 3px 8px;
}
.MDMC_c_band{
    display: flex;
    flex-flow: row;
}
.MDMC_column_rm{
    width: 50%;
}
/* ボタンデザイン */
.round_button{
    border-radius: 3px;
}
.MDMC_boxB{
    padding: 0;
}
.MDMC_boxR, .MDMC_boxB{
    box-shadow: 0 2px 5px #00000028;
    border: none;
    border-radius: 4px;
}
.MDMC_bt{
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 120%;
    font-weight: 700;
    width: 100%;
}
.MDMC_bt_in{
    color: #2a2a2a;
    background-color: #ffffff;
}
.MDMC_bt_plus{
    font-size: 130%;
    padding: 1px 0;
}
#MDMC_ttLast{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* 左カラムの内容 */
.MDMC_ttCR_changeBox{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.MDMC_inrevsBox{
    display:flex;
    flex-flow: row wrap;
    margin: 0;
}
.MDMC_inrevs{
    display:inline-block;
    margin: 1px 2px 1px 0;
    padding: 1px 7px;
    background-color: #eee;
    color: #2a2a2a;
    font-weight: 700;
    border-radius: 3px;
}
.MDMC_openRV{
    position: relative;
}
.MDMC_openRVc{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
}
.MDMC_turnEdit{
    display: flex;
    position: absolute;
    background-color: #000000a0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 0;
    z-index: 7;
    cursor: pointer;
    font-size: 150%;
    align-items: center;
}
.MDMC_turnEdit div{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.MDMC_turnEditLeft{
    width: 47%;
    height: 80%;
    border-right: 2px dotted #ffffff;
}
.MDMC_turnEditRight{
    width: 53%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
}
.MDMC_turnEditRight div{
    display: flex;
    width: 100%;
    height: 50%;
}

/* 右カラムの内容 */
.MDMC_c_bandup{
    flex-flow: row;
}
.MDMC_poke_row{
    margin: 0 0 5px 0;
    display:flex;
}
.MDMC_poke_cell{
    display:flex;
    margin: 0;
    padding: 3px 3px 0 3px;
    border-bottom: dashed 2px #ddd;
    align-items: flex-end;
    font-size: 100%;
    white-space: nowrap;
}
.b_double{
    border-bottom: double 3px #2a2a2a !important;
}
.MDMC_p_c_MakeMargin{
    margin-right: 12px;
}
.MDMC_abtitle{
    background-color: #2a2a2a;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border: none !important;
    margin-top: 3px;
    border-radius: 3px;
}
.MDMC_poke_cell input{
    height: 100%;
    font-size: 120%;
    padding: 0 8px 2px 2px;
    border: none;
}
.MDMC_inbuttonA, .MDMC_inbuttonB, .MDMC_inbuttonC, .MDMC_inbuttonD{
    background: none;
    margin-left: 2px;
}
.MDMC_inbuttonB, .MDMC_inbuttonC, .MDMC_inbuttonD{
    -webkit-text-stroke: 1px;
}
.MDMC_inbuttonB, .MDMC_inbuttonA{
    color: #555;
}
.MDMC_inbuttonC{
    border: none;
    color: #FFC000;
}
.MDMC_inbuttonD{
    border: none;
    color: #555;
}
.MDMC_turnButton{
    border: none !important;
}
.MDMC_inbuttonTE{
    margin-left: 5px;
    background: none;
    color: #404040;
}
.MDMC_inbuttonHO{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding: 0 !important;
    background: none;
    color: #aaa;
}
.MDMC_catTop{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.MDMC_inbutton_cat{
    margin: 6px 1px 0 1px;
    border: none;
    color: #2a2a2a;
    border-bottom: 2px solid;
    background-color: #ffffff;
    padding: 4px 0;
    font-size: 100%;
    font-weight: 400;
}

/* HPオプション */
#MDMC_hpOption{
    flex-wrap: wrap;
    gap: 4px;
}
.MDMC_ho_box{
    display: flex;
    font-size: 90%;
    cursor: pointer;
}
.MDMC_ho_ct, .MDMC_ho_cd{
    padding: 0 5px;
    display: flex;
    justify-content: center;
}
.MDMC_ho_ct{
    background-color: #ddd;
    color: #444;
    border-radius: 3px 0 0 3px;
}
.MDMC_ho_cd{
    border-radius: 0 3px 3px 0;
    color: #aaa;
}

/* 技の詳細編集 */
#MDMC_RLpage{
    display: flex;
    position: fixed;
    flex-flow: column nowrap;
    overflow-y: hidden;
    margin: 0;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #FAF7F0;
    z-index: 4;
}
#MDMC_RLpage::before{
    display: block;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #00000060;
}
.MDMC_RScroll{
    display: flex;
    position: relative;
    flex-flow: column;
    column-gap: 0;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: -1;
}
.MDMC_RScroll::-webkit-scrollbar{
    display: none;
}
/* 補正リスト */
.MDMX_RLbox{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}
.MDMC_RList{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 3px 0;
    padding: 0;
    background-color: #FAF7F0;
}
.MDMC_RL_title{
    display: flex;
    width: 100%;
    background-color: #2a2a2a;
    color: #ffffff;
    margin: 0;
    padding: 2px 6px;
}
.MDMC_Rbt{
    width: 50%;
    margin: 0;
    padding: 2px 0;
    background-color: #ffffff;
    color: #2a2a2a;
    font-size: 90%;
}
.MDMC_Rbt:hover{
    background-color: #F2EBD2;
}
.MDMC_Rbt_type{
    font-size: 105%;
}
.MDMC_RLrow{
    display: flex;
    margin: 0 8px;
}
.MDMC_RL_title,
.MDMC_Rbt{
    box-sizing: border-box;
    border: 1px solid #FAF7F0;
}
.MDMC_RbtType{
    font-size: 110%;
}
.MDMC_RLclose{
    padding: 5px 0;
    font-weight: 700;
}
/* ランク調整 */
.MDMC_rlc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MDMC_rlbw{
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #FAF7F0;
    margin: 0;
}
.MDMC_RLtitle2, .MDMC_RLtitle1, .MDMC_RLtitle3{
    position:relative;
}
.MDMC_RLtitle2::before, .MDMC_RLtitle1::before, .MDMC_RLtitle3::before{
    position:absolute;
    content: " ";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
}
.MDMC_RLtitle1::before{
    border-right:6px double #ff3a3a;
}
.MDMC_RLtitle2::before{
    border-right:6px double #4585e5;
}
.MDMC_RLtitle3::before{
    border-right:6px double #87b145;
}
.MDMC_RLcat{
    border: none;
    padding: 2px 0;
    background-color: #ffffff;
    margin: 2px 0 2px 0;
}

/* 定数攻撃 */
#MDMC_RLspecialGuard{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffffa0;
    text-align: center;
}
.MDMC_RLspecialClose{
    border: 3px solid #282828;
    color: #282828;
    background: #ffffff80;
    padding: 2px 15px;
    font-size: 150%;
    font-weight: 700;
    width: 90%;
    margin-top: 10px;
}

/* 固定結果表示 */
.MDMC_FRbox{
    display: flex;
    margin: 0 -20px 10px -20px;
    flex-flow: row;
    background-color: #ffffff;
    z-index: 2;
}
.MDMC_FRline{
    display: flex;
    flex-flow: row;
    min-width: 50%;
    box-sizing: border-box;
    padding: 12px;
    border: none;
}
.MDMC_FRleft, .MDMC_FRright{
    display: flex;
    flex-flow: column;
    padding: 0 5px;
}
.MDMC_FRleft{
    width: 86%;
    color: #444;
}
.MDMC_FRright{
    width: 14%;
}
.MDMC_FRrow{
    display: flex;
    flex-flow: column;
    padding-top: 3px;
}
.MDMC_FREF{
    font-size: 80%;
    color: #aaa;
    vertical-align: top;
}
.MDMC_FRber{
    height: 6px;
    border-radius: 3px;
    width: 100%;
}
.MDMC_FRbutton{
    border: none;
    background-color: #ffffff;
    border: solid 2px #ddd;
    color: #ddd;
    padding: 0 0;
    height: 60%;
}

/* 毎ターン計算結果 */
.MDMC_FRber_t{
    height: 6px;
    border-radius: 3px;
    width: 100%;
    opacity: 0.6;
}
.MDMC_ttResultColumn_L{
    display: flex;
    width: 15%;
    color: #232323;
    font-size: 125%;
    align-items: center;
    justify-content: center;
}
.MDMC_ttResultColumn_R{
    display: flex;
    width: 85%;
    flex-direction: column;
    padding: 6px 6px 0 6px;
}
.MDMC_FR_t{
    color: #aaa;
    font-size: 90%;
    padding: 0 0 2px 0;
}

/* ポップアップデザイン */
#MDMC_closeTab{
    display: block;
    position: fixed;
    background: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#MDMC_resultLog{
    margin: 10px;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    box-shadow:  0 2px 5px #00000028;
    white-space: pre-wrap;
    background-color: #000000d8;
    color: #ffffff;
    z-index: 10;
    position: fixed;
    top: 150px;
    left: 0;
    min-width: 40%;
}

/* 入力候補デザイン */
.dmList{
    margin: 0;
    padding: 0;
    display: none;/**/
    position: absolute;
    z-index: 1;
    width: 13em;
    background-color: #ffffff;
    text-align: center;
    border: solid 1px #eee;
}
.dmList ul{
    padding: 0;
    margin: 0;
}
.dmList li{
    position: relative;
    margin: 2px 0 2px 4px;
    border-left: solid 3px #eee;
    font-size: 19px;
    line-height: 23px;
    padding: 2px 0 2px 1px;
    text-align: left;
    color: #303030;
    cursor: pointer;
}
.dmList li:hover{
    background-color: #f7f7f7;
}
.dmList_row{
    display: flex;
}
.dmList_row input{
    color: #ffffff;
    border: none;
    margin: 1px;
}
.dmList_row input:hover{
    background: #2a2a2a !important;
}
.MDMC_RL_rank{
    display: flex;
    width: 100%;
}

/* レスポンシブ調整 */
@media (min-width:1825px){body{font-size: 20px !important;}}
@media (max-width:1370px){body{font-size: 16px !important;}}
@media (max-width:1200px){body{font-size: 14px !important;}}
@media (max-width:1024px){body{font-size: 12px !important;}}
@media (max-width:900px){
body{
    font-size: 14px !important;
    padding-left: 10px;
    padding-right: 10px;
    margin: 7px;
}
h1 {font-size: 30px;}
#MDMC_head{
    margin: -7px -17px 10px -17px;
    padding: 15px 5px 0 30px;
    background-color: #2a2a2a;
}
.MDMC_main{flex-flow: column;}
.MDMC_column_l{width: 80%; margin:auto;}
.MDMC_column_r{width: 100%;}
.MDMC_poke_cell{border-bottom: 2px dotted #ddd;}
.MDMC_box{margin: 7px 5px;}
.MDMC_c_RLs{ padding: 2px;}
.MDMC_Rbt{letter-spacing: 0px;}
.MDMC_FRbox{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    flex-flow: column;
    background-color: transparent;
}
.MDMC_FRline{
    justify-content: stretch;
    padding: 5px;
    border-top: 2px solid #eee;
    background-color: #ffffff;
}
#MDMC_RLpage{
    width: 100%;
}
#MDMC_RLpage::before{
    display: none;
}
#MDMC_resultLog{
    position: relative !important;
    top: auto;
    left: auto;
}
}
@media (max-width:724px){
h1 {font-size: 25px;}
#MDMC_head{
    padding: 16px 0 0 10px;
    background-color: #2a2a2a;
}
.MDMC_column_l{width: 100%;}
.MDMC_c_bandup{flex-flow: column;}
.MDMC_column_rm{width: 100%;}
.MDMC_box{margin: 7px 3px;}
.MDMC_Rbt{padding: 5px 0;}
.MDMC_RList{font-size: 90%;}
}
@media (max-width:630px){
body{
    padding-left: 7px;
    padding-right: 7px;
}
#MDMC_head{
    margin: -7px -14px 10px -14px;
}
}
@media (max-width:480px){
h1 {font-size: 22px;}
.MDMC_RList{font-size: 95%;}
.MDMC_c_RLs{
    height: 1100px;
}
}

/* メニューデザイン */
.hamburger-menu{
    float: right;
    max-height: 100%;
}
.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: #eee;
  margin: 6px 0;
}
.hamburger-menu + .sidenavs:target {
  overflow: hidden;
  display:block;
  width: 30%;
}
.sidenavs:target {
  overflow: hidden;
  right: 0;
}
.sidenavs {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -30%;
  background-color: #181818;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.4s;
  white-space: nowrap;
}
.sidenavs a.side_alink {
  padding: 2px 2px 2px 10px;
  margin: 6px 0 6px 14px;
  text-decoration: none;
  font-size: 140%;
  display: block;
  color: #ddd;
  transition: 0.2s;
  font-weight:bold;
  border-left: solid 2px #ddd;
}
.sidenavs a.side_alink:hover {
  color: #fff;
  border-left: solid 10px #ddd;
}
.sidenavs .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  text-decoration: none;
  color: #ddd;
  font-size: 36px;
  margin-left: 50px;
}
.ppComment{
    display: block;
    margin-top: 0;
    padding: 0 8px 8px 23px;
    white-space: pre-line;
    color: #808080;
    box-sizing: border-box;
}
.ppComment a{
    color: #808080;
}
@media (max-width:900px){
    .hamburger-menu + .sidenavs:target {
        width: 75%;
    }
    .sidenavs {
        width: 75%;
        right: -75%;
    }
}
